PORT=3001
NODE_ENV=production
DATABASE_URL="postgresql://postgres:postgrespassword123@postgres:5432/jaypurloom_db?schema=public"
JWT_SECRET="supersecret_jaypurloom_luxury_jwt_key_2026"
JWT_EXPIRES_IN="7d"
FRONTEND_URL="http://localhost:3000"

RAZORPAY_KEY_ID="rzp_test_demo_key_id"
RAZORPAY_KEY_SECRET="rzp_test_demo_key_secret"

CLOUDINARY_CLOUD_NAME="demo_cloud"
CLOUDINARY_API_KEY="123456789"
CLOUDINARY_API_SECRET="demo_secret"
